# Import all modules

In [4]:
#For data acquisition and processing

import pandas as pd
import numpy as np

# Create a data frame for the American Community Survey Data

In [5]:
# Imports the data and drops the null values
df = pd.read_csv('nhgis0001_ds225_20165_2016_zcta.csv')
df_non_null = df.dropna(axis=1, how='all')
df_non_null.head()

,GISJOIN,YEAR,ZCTA5A,NAME_E,AF4OE001,AF4OE002,AF4OE003,AF4OE004,AF4OE005,AF4OE006,...,AF4OM016,AF4OM017,AF4OM018,AF4OM019,AF4OM020,AF4OM021,AF4OM022,AF4OM023,AF4OM024,AF4OM025
0,G00601,2012-2016,601,ZCTA5 00601,11887,519,15,0,123,141,...,103,302,52,70,253,142,263,96,30,48
1,G00602,2012-2016,602,ZCTA5 00602,27546,901,0,0,138,245,...,90,478,200,109,347,433,399,270,157,160
2,G00603,2012-2016,603,ZCTA5 00603,35589,1073,18,33,147,371,...,118,619,216,159,416,356,515,305,111,90
3,G00606,2012-2016,606,ZCTA5 00606,4381,196,0,0,69,74,...,27,213,66,29,61,81,122,50,23,21
4,G00610,2012-2016,610,ZCTA5 00610,19237,428,0,13,113,139,...,82,484,220,147,332,332,347,162,18,108

# Filter the data for New York zip codes and PhD holders

New York city zip codes came from the [New York department of health website](https://www.health.ny.gov/statistics/cancer/registry/appendix/neighborhoods.htm). The columns that will be used from the American Community Survey were found in the nghis zcta codebook.

In [13]:
#Masks are created by zip code and PhD holders
phd_mask = ['ZCTA5A', 'AF4OM025']
new_york_zip_codes = [10453, 10457, 10460, 10458, 10467, 10468, 10451, 10452, 10456, 10454, 10455, 10459, 10474, 
                      10463, 10471, 10466, 10469, 10470, 10475, 10461, 10462,10464, 10465, 10472, 10473, 11212, 
                      11213, 11216, 11233, 11238, 11209, 11214, 11228, 11204, 11218, 11219, 11230, 11234, 11236, 
                      11239, 11223, 11224, 11229, 11235, 11201, 11205, 11215, 11217, 11231, 11203, 11210, 11225, 
                      11226, 11207, 11208, 11211, 11222, 11220, 11232, 11206, 11221, 11237, 10026, 10027, 10030, 
                      10037, 10039, 10001, 10011, 10018, 10019, 10020, 10036, 10029, 10035, 10010, 10016, 10017, 
                      10022, 10012, 10013, 10014, 10004, 10005, 10006, 10007, 10038, 10280, 10002, 10003, 10009, 
                      10021, 10028, 10044, 10065, 10075, 10128, 10023, 10024, 10025, 10031, 10032, 10033, 10034, 
                      10040, 11361, 11362, 11363, 11364, 11354, 11355, 11356, 11357, 11358, 11359, 11360, 11365, 
                      11366, 11367, 11412, 11423, 11432, 11433, 11434, 11435, 11436, 11101, 11102, 11103, 11104, 
                      11105, 11106, 11374, 11375, 11379, 11385, 11691, 11692, 11693, 11694, 11695, 11697, 11004, 
                      11005, 11411, 11413, 11422, 11426, 11427, 11428, 11429, 11414, 11415, 11416, 11417, 11418, 
                      11419, 11420, 11421, 11368, 11369, 11370, 11372, 11373, 11377, 11378, 10302, 10303, 10310, 
                      10306, 10307, 10308, 10309, 10312, 10301, 10304, 10305, 10314]

In [18]:
#Runs both masks and produces a data frame of zip codes with the most PhDs
df_phd = df_non_null[phd_mask]
df_zip_mask = df_non_null.ZCTA5A.isin(new_york_zip_codes)
df_zip_codes = df_phd[df_zip_mask]
df_zip_codes.sort_values('AF4OM025', ascending=False).head()

      ZCTA5A  AF4OM025
2580   10025       634
2579   10024       593
2606   10128       589
2578   10023       553
2576   10021       469

In [19]:
#There seems to be a large disparity in PhD holders per zip code between the head and tail of the list.
df_zip_codes.sort_values('AF4OM025', ascending=False).tail()

      ZCTA5A  AF4OM025
2865   11356        22
2663   10474        18
2892   11414        17
2575   10020        11
2868   11359        11

In [16]:
#Thanks to some sleuthing on google maps, a list of 15 zip codes is produced which contains 35 stations.
#This is equal to the amount of stations in the 90th percentile. 
phd_total = df_zip_codes.sort_values('AF4OM025', ascending=False).head(15)
phd_total

      ZCTA5A  AF4OM025
2580   10025       634
2579   10024       593
2606   10128       589
2578   10023       553
2576   10021       469
2599   10075       406
2884   11375       391
2565   10009       362
2560   10003       361
2568   10012       325
2567   10011       321
2583   10028       321
2838   11215       308
2597   10065       300
2577   10022       300

In [20]:
#Numbers check
print("PhDs in the top 15 zip codes list:", phd_total.AF4OM025.sum())
print("PhD in total list:", df_zip_codes.AF4OM025.sum())
print("This represents", round(phd_total.AF4OM025.sum() / df_zip_codes.AF4OM025.sum() * 100, 2), "percent of all PhDs in New York.")

PhDs in the top 15 zip codes list: 6233
PhD in total list: 24518
This represents 25.42 percent of all PhDs in New York.

# Pass the list as a filter for the main data

In [9]:
#Pull in the most recent 4 weeks of turnstile data and put it into a data frame.
df = pd.read_csv('/Users/NickThomas/Project_Benson/turnstile_180407.txt')
df2 = pd.read_csv('/Users/NickThomas/Project_Benson/turnstile_180331.txt')
df3 = pd.read_csv('/Users/NickThomas/Project_Benson/turnstile_180324.txt')
df4 = pd.read_csv('/Users/NickThomas/Project_Benson/turnstile_180317.txt')
big_data_list = [df, df2, df3, df4]
big_data = pd.concat(big_data_list)
big_data.shape

(755250, 11)

In [10]:
#Create an array of all the station names
big_data.STATION.unique()

array(['59 ST', '5 AV/59 ST', '57 ST-7 AV', '49 ST', 'TIMES SQ-42 ST',
       '34 ST-HERALD SQ', '28 ST', '23 ST', '14 ST-UNION SQ', '8 ST-NYU',
       'PRINCE ST', 'CANAL ST', 'CITY HALL', 'CORTLANDT ST', 'RECTOR ST',
       'WHITEHALL S-FRY', 'DELANCEY/ESSEX', 'BOWERY', 'CHAMBERS ST',
       'FULTON ST', 'BROAD ST', '7 AV', 'PARK PLACE', 'BOTANIC GARDEN',
       'PROSPECT PARK', 'PARKSIDE AV', 'CHURCH AV', 'BEVERLEY ROAD',
       'CORTELYOU RD', 'NEWKIRK PLAZA', 'AVENUE H', 'AVENUE J',
       'AVENUE M', 'KINGS HWY', 'AVENUE U', 'NECK RD', 'SHEEPSHEAD BAY',
       'BRIGHTON BEACH', 'OCEAN PKWY', 'BOROUGH HALL', 'JAY ST-METROTEC',
       'DEKALB AV', 'ATL AV-BARCLAY', 'UNION ST', '4AV-9 ST',
       'PROSPECT AV', '25 ST', '36 ST', '45 ST', '53 ST', 'BAY RIDGE AV',
       '77 ST', '86 ST', 'BAY RIDGE-95 ST', '8 AV', 'FT HAMILTON PKY',
       'NEW UTRECHT AV', '18 AV', '20 AV', 'BAY PKWY', '9 AV', '50 ST',
       '55 ST', '71 ST', '79 ST', '25 AV', 'BAY 50 ST', 'CONEY IS-STILLW',
       'W 8 ST-AQUARIUM', '6 AV', '3 AV', '1 AV', 'BEDFORD AV',
       'LORIMER ST', 'GRAHAM AV', 'GRAND ST', 'MONTROSE AV', 'MORGAN AV',
       'JEFFERSON ST', 'MYRTLE-WYCKOFF', 'HALSEY ST', 'WILSON AV',
       'BUSHWICK AV', 'ATLANTIC AV', 'SUTTER AV', 'LIVONIA AV',
       'NEW LOTS', 'EAST 105 ST', 'CANARSIE-ROCKAW', 'HOWARD BCH JFK',
       'JFK JAMAICA CT1', 'MARCY AV', 'HEWES ST', 'FLUSHING AV',
       'MYRTLE AV', 'KOSCIUSZKO ST', 'GATES AV', 'CHAUNCEY ST',
       'ALABAMA AV', 'VAN SICLEN AV', 'CLEVELAND ST', 'NORWOOD AV',
       'CRESCENT ST', 'CYPRESS HILLS', '75 ST-ELDERTS', '85 ST-FOREST PK',
       'WOODHAVEN BLVD', '104 ST', '111 ST', '121 ST', 'SENECA AVE',
       'FOREST AVE', 'FRESH POND RD', 'METROPOLITAN AV', 'INWOOD-207 ST',
       'DYCKMAN ST', '190 ST', '181 ST', '175 ST', '168 ST', '155 ST',
       '145 ST', '135 ST', '125 ST', '116 ST', 'CATHEDRAL PKWY', '103 ST',
       '96 ST', '81 ST-MUSEUM', '72 ST', '59 ST COLUMBUS',
       '42 ST-PORT AUTH', '34 ST-PENN STA', '14 ST', 'W 4 ST-WASH SQ',
       'SPRING ST', 'WORLD TRADE CTR', 'HIGH ST', 'HOYT-SCHER',
       'LAFAYETTE AV', 'CLINTON-WASH AV', 'FRANKLIN AV', 'NOSTRAND AV',
       'KINGSTON-THROOP', 'UTICA AV', 'RALPH AV', 'ROCKAWAY AV',
       'BROADWAY JCT', 'LIBERTY AV', 'VAN SICLEN AVE', 'SHEPHERD AV',
       'EUCLID AV', 'GRANT AV', '80 ST', '88 ST', 'ROCKAWAY BLVD',
       'OZONE PK LEFFRT', 'AQUEDUCT N.COND', 'AQUEDUCT RACETR',
       'BROAD CHANNEL', 'BEACH 90 ST', 'BEACH 98 ST', 'BEACH 105 ST',
       'ROCKAWAY PARK B', 'BEACH 67 ST', 'BEACH 60 ST', 'BEACH 44 ST',
       'BEACH 36 ST', 'BEACH 25 ST', 'FAR ROCKAWAY', '161/YANKEE STAD',
       '167 ST', '170 ST', '174-175 STS', 'TREMONT AV', '182-183 STS',
       'FORDHAM RD', 'KINGSBRIDGE RD', 'BEDFORD PK BLVD',
       'NORWOOD 205 ST', '5 AV/53 ST', 'LEXINGTON AV/53',
       'COURT SQ-23 ST', 'QUEENS PLAZA', 'STEINWAY ST', '46 ST',
       'NORTHERN BLVD', '65 ST', 'JKSN HT-ROOSVLT', 'ELMHURST AV',
       'GRAND-NEWTOWN', '63 DR-REGO PARK', '67 AV', 'FOREST HILLS 71',
       '75 AV', 'KEW GARDENS', 'BRIARWOOD', 'SUTPHIN BLVD',
       'PARSONS BLVD', '169 ST', 'JAMAICA 179 ST', 'COURT SQ', '21 ST',
       'GREENPOINT AV', 'NASSAU AV', 'BROADWAY', 'MYRTLE-WILLOUGH',
       'BEDFORD-NOSTRAN', 'CLASSON AV', '47-50 STS ROCK',
       '42 ST-BRYANT PK', "B'WAY-LAFAYETTE", '2 AV', 'EAST BROADWAY',
       'YORK ST', 'BERGEN ST', 'CARROLL ST', 'SMITH-9 ST', '4 AV-9 ST',
       '15 ST-PROSPECT', 'DITMAS AV', 'AVENUE I', 'AVENUE N', 'AVENUE P',
       'AVENUE X', 'NEPTUNE AV', '57 ST', 'LEXINGTON AV/63',
       'ROOSEVELT ISLND', '21 ST-QNSBRIDGE', 'JAMAICA VAN WK',
       'SUTPHIN-ARCHER', 'JAMAICA CENTER', '72 ST-2 AVE', '86 ST-2 AVE',
       '96 ST-2 AVE', 'NEWARK HW BMEBE', 'HARRISON', 'JOURNAL SQUARE',
       'GROVE STREET', 'EXCHANGE PLACE', 'PAVONIA/NEWPORT', 'CITY / BUS',
       'CHRISTOPHER ST', '9TH STREET', '14TH STREET', 'TWENTY THIRD ST',
       'THIRTY ST', 'LACKAWANNA', 'THIRTY THIRD ST', 'NEWARK BM BW',
       'NEWARK C', 'NEWARK HM HE', 'PATH WTC 2', 'PATH NEW WTC',
       'SOUTH FERRY', 'WALL ST', 'FRANKLIN ST', 'HOUSTON ST', '18 ST',
       '66 ST-LINCOLN', '116 ST-COLUMBIA', '137 ST CITY COL', '157 ST',
       '191 ST', '207 ST', '215 ST', 'MARBLE HILL-225', '231 ST',
       '238 ST', 'V.CORTLANDT PK', 'BOWLING GREEN', 'BROOKLYN BRIDGE',
       'BLEECKER ST', 'ASTOR PL', '33 ST', 'GRD CNTRL-42 ST', '51 ST',
       '68ST-HUNTER CO', '110 ST', '138/GRAND CONC', '149/GRAND CONC',
       'MT EDEN AV', '176 ST', 'BURNSIDE AV', '183 ST', 'MOSHOLU PKWY',
       'WOODLAWN', 'CENTRAL PK N110', 'HARLEM 148 ST', '3 AV-149 ST',
       'JACKSON AV', 'INTERVALE AV', 'SIMPSON ST', 'FREEMAN ST', '174 ST',
       'WEST FARMS SQ', 'E 180 ST', 'BRONX PARK EAST', 'PELHAM PKWY',
       'ALLERTON AV', 'BURKE AV', 'GUN HILL RD', '219 ST', '225 ST',
       '233 ST', 'NEREID AV', 'WAKEFIELD/241', '3 AV 138 ST', 'BROOK AV',
       'CYPRESS AV', "E 143/ST MARY'S", 'E 149 ST', 'LONGWOOD AV',
       'HUNTS POINT AV', 'WHITLOCK AV', 'ELDER AV', 'MORISN AV/SNDVW',
       'ST LAWRENCE AV', 'PARKCHESTER', 'CASTLE HILL AV', 'ZEREGA AV',
       'WESTCHESTER SQ', 'MIDDLETOWN RD', 'BUHRE AV', 'PELHAM BAY PARK',
       '5 AVE', 'VERNON-JACKSON', 'HUNTERS PT AV', 'QUEENSBORO PLZ',
       '39 AV', 'ASTORIA BLVD', 'ASTORIA DITMARS', '33 ST-RAWSON ST',
       '40 ST LOWERY ST', '46 ST BLISS ST', '52 ST', '61 ST WOODSIDE',
       '69 ST', '74 ST-BROADWAY', '82 ST-JACKSON H', '90 ST-ELMHURST',
       'JUNCTION BLVD', '103 ST-CORONA', 'METS-WILLETS PT',
       'FLUSHING-MAIN', '34 ST-HUDSON YD', 'CLARK ST', 'HOYT ST',
       'NEVINS ST', 'GRAND ARMY PLAZ', 'EASTN PKWY-MUSM', 'KINGSTON AV',
       'CROWN HTS-UTICA', 'SUTTER AV-RUTLD', 'SARATOGA AV', 'JUNIUS ST',
       'PENNSYLVANIA AV', 'NEW LOTS AV', 'PRESIDENT ST', 'STERLING ST',
       'WINTHROP ST', 'BEVERLY RD', 'NEWKIRK AV', 'FLATBUSH AV-B.C',
       'MORRIS PARK', 'BAYCHESTER AV', 'EASTCHSTER/DYRE', 'ST. GEORGE',
       'TOMPKINSVILLE', 'RIT-MANHATTAN', 'RIT-ROOSEVELT',
       '163 ST-AMSTERDM'], dtype=object)

In [11]:
#Create a list of stations in the zip codes with a high number of PhD holders.
smart_stations = ["CATHEDRAL PKWY", "103 ST", "96 ST", "96 ST-2 AVE", "86 ST", "86 ST-2 AVE", "79 ST", "81st", 
                  "72 ST", "72 ST-2 AVE", "66 ST-LINCOLN", "77 ST", "67 AV", "FOREST HILLS 71", "75 AV", "1 AV",
                 "3 AV", "ASTOR PL", "W 4 ST-WASH SQ", "B'WAY-LAFAYETTE", "PRINCE ST", "SPRING ST", "23 ST", "18 ST",
                 "14 ST", "UNION ST", "4 AV-9 ST", "9TH STREET", "7 AV", "PROSPECT AV", "15 ST-PROSPECT", "LEXINGTON AV/63", 
                 "59 ST COLUMBUS", "59 ST", "5 AV/59 ST", "LEXINGTON AV/53"]
big_data_mask = big_data.STATION.isin(smart_stations)
big_data_phd = big_data[big_data_mask]
big_data_phd

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,03/31/2018,00:00:00,REGULAR,6566463.0,2224050.0
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,03/31/2018,04:00:00,REGULAR,6566470.0,2224053.0
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,03/31/2018,08:00:00,REGULAR,6566470.0,2224053.0
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,03/31/2018,12:00:00,REGULAR,6566470.0,2224055.0
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,03/31/2018,16:00:00,REGULAR,6566470.0,2224055.0
5,A002,R051,02-00-00,59 ST,NQR456W,BMT,03/31/2018,20:00:00,REGULAR,6566470.0,2224055.0
6,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/01/2018,00:00:00,REGULAR,6566470.0,2224055.0
7,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/01/2018,04:00:00,REGULAR,6566470.0,2224055.0
8,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/01/2018,08:00:00,REGULAR,6566470.0,2224055.0
9,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/01/2018,12:00:00,REGULAR,6566470.0,2224055.0
10,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/01/2018,16:00:00,REGULAR,6566470.0,2224055.0
11,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/01/2018,20:00:00,REGULAR,6566470.0,2224055.0
12,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/02/2018,00:00:00,REGULAR,6566470.0,2224055.0
13,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/02/2018,04:00:00,REGULAR,6566470.0,2224055.0
14,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/02/2018,08:00:00,REGULAR,6566495.0,2224142.0
15,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/02/2018,12:00:00,REGULAR,6566629.0,2224350.0
16,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/02/2018,16:00:00,REGULAR,6566839.0,2224406.0
17,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/02/2018,20:00:00,REGULAR,6567469.0,2224472.0
18,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/03/2018,00:00:00,REGULAR,6567630.0,2224496.0
19,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/03/2018,04:00:00,REGULAR,6567630.0,2224496.0
20,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/03/2018,08:00:00,REGULAR,6567660.0,2224606.0
21,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/03/2018,12:00:00,REGULAR,6567822.0,2224834.0
22,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/03/2018,16:00:00,REGULAR,6568094.0,2224909.0
23,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/03/2018,20:00:00,REGULAR,6568775.0,2225000.0
24,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/04/2018,00:00:00,REGULAR,6568921.0,2225039.0
25,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/04/2018,04:00:00,REGULAR,6568924.0,2225039.0
26,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/04/2018,08:00:00,REGULAR,6568955.0,2225144.0
27,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/04/2018,12:00:00,REGULAR,6569103.0,2225359.0
28,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/04/2018,16:00:00,REGULAR,6569377.0,2225415.0
29,A002,R051,02-00-00,59 ST,NQR456W,BMT,04/04/2018,20:00:00,REGULAR,6570115.0,2225480.0
...,...,...,...,...,...,...,...,...,...,...,...
164663,R315,R406,01-00-02,PROSPECT AV,25,IRT,03/12/2018,01:00:00,REGULAR,132559.0,113168.0
164664,R315,R406,01-00-02,PROSPECT AV,25,IRT,03/12/2018,05:00:00,REGULAR,132561.0,113168.0
164665,R315,R406,01-00-02,PROSPECT AV,25,IRT,03/12/2018,09:00:00,REGULAR,132622.0,113182.0
164666,R315,R406,01-00-02,PROSPECT AV,25,IRT,03/12/2018,13:00:00,REGULAR,132658.0,113192.0
164667,R315,R406,01-00-02,PROSPECT AV,25,IRT,03/12/2018,17:00:00,REGULAR,132775.0,113223.0
164668,R315,R406,01-00-02,PROSPECT AV,25,IRT,03/12/2018,21:00:00,REGULAR,132829.0,113262.0
164669,R315,R406,01-00-02,PROSPECT AV,25,IRT,03/13/2018,01:00:00,REGULAR,132840.0,113269.0
164670,R315,R406,01-00-02,PROSPECT AV,25,IRT,03/13/2018,05:00:00,REGULAR,132841.0,113271.0
164671,R315,R406,01-00-02,PROSPECT AV,25,IRT,03/13/2018,09:00:00,REGULAR,132901.0,113285.0
164672,R315,R406,01-00-02,PROSPECT AV,25,IRT,03/13/2018,13:00:00,REGULAR,132943.0,113293.0
164673,R315,R406,01-00-02,PROSPECT AV,25,IRT,03/13/2018,17:00:00,REGULAR,133061.0,113316.0
164674,R315,R406,01-00-02,PROSPECT AV,25,IRT,03/13/2018,21:00:00,REGULAR,133125.0,113362.0
164675,R315,R406,01-00-02,PROSPECT AV,25,IRT,03/14/2018,01:00:00,REGULAR,133136.0,113373.0
164676,R315,R406,01-00-02,PROSPECT AV,25,IRT,03/14/2018,05:00:00,REGULAR,133140.0,113373.0
164677,R315,R406,01-00-02,PROSPECT AV,25,IRT,03/14/2018,09:00:00,REGULAR,133212.0,113387.0
164678,R315,R406,01-00-02,PROSPECT AV,25,IRT,03/14/2018,13:00:00,REGULAR,133251.0,113398.0
164679,R315,R406,01-00-02,PROSPECT AV,25,IRT,03/14/2018,17:00:00,REGULAR,133443.0,113435.0
164680,R315,R406,01-00-02,PROSPECT AV,25,IRT,03/14/2018,21:00:00,REGULAR,133531.0,113473.0
164681,R315,R406,01-00-02,PROSPECT AV,25,IRT,03/15/2018,01:00:00,REGULAR,133545.0,113482.0
164682,R315,R406,01-00-02,PROSPECT AV,25,IRT,03/15/2018,05:00:00,REGULAR,133545.0,113483.0
164683,R315,R406,01-00-02,PROSPECT AV,25,IRT,03/15/2018,09:00:00,REGULAR,133622.0,113490.0
164684,R315,R406,01-00-02,PROSPECT AV,25,IRT,03/15/2018,13:00:00,REGULAR,133663.0,113499.0
164685,R315,R406,01-00-02,PROSPECT AV,25,IRT,03/15/2018,17:00:00,REGULAR,133792.0,113531.0
164686,R315,R406,01-00-02,PROSPECT AV,25,IRT,03/15/2018,21:00:00,REGULAR,133855.0,113568.0
164687,R315,R406,01-00-02,PROSPECT AV,25,IRT,03/16/2018,01:00:00,REGULAR,133864.0,113578.0
164688,R315,R406,01-00-02,PROSPECT AV,25,IRT,03/16/2018,05:00:00,REGULAR,133865.0,113582.0
164689,R315,R406,01-00-02,PROSPECT AV,25,IRT,03/16/2018,09:00:00,REGULAR,133937.0,113597.0
164690,R315,R406,01-00-02,PROSPECT AV,25,IRT,03/16/2018,13:00:00,REGULAR,133982.0,113605.0
164691,R315,R406,01-00-02,PROSPECT AV,25,IRT,03/16/2018,17:00:00,REGULAR,134118.0,113639.0
164692,R315,R406,01-00-02,PROSPECT AV,25,IRT,03/16/2018,21:00:00,REGULAR,134206.0,113675.0

In [22]:
print("This pairs down the turnstile data to", round(121147 / 755250 * 100, 2), "percent of the total data.")

This pairs down the turnstile data to 16.04 percent of the total data.